.header{
    background-color: black;
    text-align: center;
    color: white;
}

.employeeForm{
    text-align: left;
}


.center{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.center p{

    font-size: 25px;
}

td, tr{
    padding: 8px;
    border: 1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #dddddd;
}