<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="header">
    <h1>WELCOME TO EMPLOYEES MANAGEMENT SYSTEM 1.0</h1>
</div>
<h1>Employee Result:</h1>
<p th:text="'Id: ' + ${employee.id}" />
<p th:text="'First Name: ' + ${employee.firstName}" />
<p th:text="'Last Name: ' + ${employee.lastName}" />
<p th:text="'Job Title: ' + ${employee.jobTitle}" />
<p th:text="'Salary: ' + ${employee.getSalary()}" />
<button><a href="/employee">New Search</a></button>
</body>
</html>