<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head> 
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="header">
    <h1>WELCOME TO EMPLOYEES MANAGEMENT SYSTEM 1.0</h1>
    </div>
    <hr>

    <div class="center">
        <p>The Application uses the SQL-Maria Database Teleric Academy </p>
        <p><a href="employee">Search by ID</a></p>
        <p><a href="town">Search by Town</a></p>
        <p><a href="town">Search by Salary</a></p>

        <a href="/"><button>HOME</button></a>
    </div>
    
</body>
</html>