<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="header">
    <h1>WELCOME TO EMPLOYEES MANAGEMENT SYSTEM 1.0</h1>
</div>

<div class="employeeForm">
    <h1>Show employees with salary greater than:</h1>
    <form action="#" th:action="@{/salary}" th:object="${salary}" method="post">
        <p>Salary: <input type="text"  th:field="*{salary}"/></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

</div>

<div class="center">
    <a href="/"><button>HOME</button></a>
</div>

</body>
</html>