<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css">
</head>
<body>

       <div class="header">
           <h1>WELCOME TO EMPLOYEES MANAGEMENT SYSTEM 1.0</h1>
           </div>
           <hr>
       <h1>ALL CURRENT EMPLOYEES: </h1>
       <div class="center">
                   <a href="/"><button>BACK</button></a>
           </div>
       <table>
          <tr>
                          <td> <strong>First Name</strong></td>
                          <td> <strong>Last Name</strong></td>
                          <td> <strong>Job Title</strong></td>
                          <td> <strong>Salary</strong></td>
                          <td> <strong>Address</strong></td>
                          <td> <strong>Town</strong></td>

         </tr>

          <th:block th:each="Employee : ${allEmployees}">

             <tr>
                <td th:text="${Employee.firstName}">...</td>
                <td th:text="${Employee.lastName}">...</td>
                <td th:text="${Employee.JobTitle}">...</td>
                <td th:text="${Employee.salary}">...</td>
                <td th:text="${Employee.getAddress().getAddress()}">...</td>
                <td th:text="${Employee.getAddress().getTown()}">...</td>

             </tr>

          </th:block>
       </table>
</body>
</html>